#canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;
    height: 400px;
    border: 1px solid #eee;
}

@font-face {
    font-family: 'Epson1';
    src: url(../fonts/Epson1.ttf);
}